# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Docker / Environment
.env
db_data/
letsencrypt/

# Node.js (Next.js追加時用)
node_modules/
.next/
out/
build/

# OS
.DS_Store
Thumbs.db

*.log

cron.log.1.gz
debug_view.png
